@charset "utf-8";

@font-face {
  font-family: 'NanumSquare';
  src: local('NanumSquareExtraBold') 
  url(./assets/fonts/NanumSquareEB.woff) format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: 800;
}